
p {
   color: ghostwhite;
   font-family: 'Major Mono Display', monospace;
   text-align: center;
   font-size: 60px;
}


body {

   background-image: url("/ritual.jpg");
   background-attachment: fixed;
   background-size: 50%;
}

html { 
  background: url(/ritual.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
