body {

   background-image: url("/Users/ccohenmacbook/funprojects/blake/ritual.jpg");
   background-attachment: fixed;
   background-size: 50%
}

p {
   color: ghostwhite;
   font-family: 'Major Mono Display', monospace;
   text-align: center;
   font-size: 60px;
}
