
p {
   color: ghostwhite;
   font-family: 'Major Mono Display', monospace;
   text-align: center;
   font-size: 60px;
}


body {
   background-image: src("/photos/ritual.jpg");
   background-attachment: fixed;
   background-size: 50%;
}

